.meal-detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    color: grey;
    padding: 2rem;
}

.meal-detail-desc li {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    list-style-type: none;
    text-align: left;
}

.meal-detail-desc li a {
    text-decoration: none;
    color: rgb(179, 177, 177);
    background-color: rgb(95, 95, 95);
    padding: 0.5rem 0.75rem;
    border-radius: 5rem;
    margin: 1rem 0;
}

.meal-image-container {
    width: 40%;
}

.meal-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}